.product-card {
   background-color: #000;
  border-radius: 12px;
  padding: 15px;
  color: white;
  box-shadow: 0 0 15px rgba(0, 255, 100, 0.3);
  transition: transform 0.3s ease;
  width: 220px;
  height: auto;
}

.product-card:hover {
  transform: scale(1.03);
}

.product-image {
  width: 100%;
  height: 150px;
  object-fit: contain;
  margin-bottom: 10px;
  border-radius: 8px;
}

.product-info {
  text-align: left;
   flex: 1; 
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-title {
  font-size: 1.2rem;
  margin-bottom: 5px;
  color: #00ffcc;
}

.product-description {
  font-size: 0.9rem;
  color: #ccc;
  margin-bottom: 10px;
}

.product-price {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #00ff99;
}

.buy-button {
  background-color: #00ff99;
  color: #000;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.home-container {
  background-color: #fff;
  padding: 40px;
  text-align: center;
}

.container-card {
  background-color: #111;
  border: 2px solid #00ff99;
  border-radius: 12px;
  padding: 20px;
  margin: 30px auto;
  max-width: 1000px;
  box-shadow: 0 0 20px rgba(0, 255, 100, 0.3);
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.section-title {
  color: #00ffcc;
  margin: 20px 0 10px;
  font-size: 1.5rem;
  text-align: left;
}

.featured-grid {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 40px;
}

.card-featured {
  width: 300px;
  height: 180px;
  box-shadow: 0 0 20px rgba(0, 255, 200, 0.4);
  transition: transform 0.3s ease;
}
.card-featured:hover {
  transform: scale(1.05);
}
.card-vertical {
  width: 160px;
  height: 250px;
}
