.product-card {
  width: 160px;
  height: 220px;
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.3s ease;
  cursor: pointer;
  position: relative;
}

.product-card:hover {
  transform: scale(1.05);
}

.card-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
}

.card-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%; /* antes ocupaba más con padding */
  background-color: rgba(0, 0, 0, 0.6); /* fondo gris translúcido */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card-title {
  color: white;
  font-size: 1rem;
  font-weight: bold;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
}



.product-info {
  text-align: left;
   flex: 1; 
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-title {
  font-size: 1.2rem;
  margin-bottom: 5px;
  color: #00ffcc;
}

.product-description {
  font-size: 0.9rem;
  color: #ccc;
  margin-bottom: 10px;
}

.product-price {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #00ff99;
}

.buy-button {
  background-color: #00ff99;
  color: #000;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.home-container {
  background-color: #fff;
  padding: 40px;
  text-align: center;
}

.container-card {
  background-color: #111;
  border: 2px solid #00ff99;
  border-radius: 12px;
  padding: 20px;
  margin: 30px auto;
  max-width: 1000px;
  box-shadow: 0 0 20px rgba(0, 255, 100, 0.3);
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.section-title {
  color: #00ffcc;
  margin: 20px 0 10px;
  font-size: 1.5rem;
  text-align: left;
}

.featured-grid {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 40px;
}

.card-featured {
  width: 300px;
  height: 180px;
  box-shadow: 0 0 20px rgba(0, 255, 200, 0.4);
  transition: transform 0.3s ease;
}
.card-featured:hover {
  transform: scale(1.05);
}
.card-vertical {
  width: 160px;
  height: 250px;
} 
