





/* catalogo*/
.promo-boxes {
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 16px; 
  margin: 20px auto;
  flex-wrap: wrap;
  max-width: 900px; 
}


.promo-box {
  flex: 0 0 auto;
  background-color: #0a0a0a;
  border: none;
  border-radius: 12px;
  padding: 12px;
  transition: transform 0.3s ease;
  max-width: 260px; 
  height: 120px;
}


.promo-box:hover {
  transform: scale(1.03);
}

.promo-content {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: white;
}

.promo-icon {
  font-size: 1.5rem;
}

.new-badge {
  background-color: orange;
  color: black;
  font-size: 0.65rem;
  padding: 2px 5px;
  border-radius: 5px;
  margin-left: 4px;
}



/* quiz */


.news-box, .quiz-box {
  flex: 1;
  background-color: #0a0a0a;
  border: 2px solid #00ff99;
  border-radius: 12px;
  padding: 20px;
}

.quiz-button {
  background-color: #00ff99;
  color: #000;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.quiz-button:hover {
  background-color: #00cc88;
}

/*Cards*/
.card-hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-hover:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px #00ff99;
}





  
