
.scroll-populares {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  max-width: 100%;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: thin;
  padding-bottom: 8px;
}

.scroll-populares::-webkit-scrollbar {
  height: 6px;
}

.scroll-populares::-webkit-scrollbar-thumb {
  background-color: #00ff99;
  border-radius: 4px;
}

.scroll-populares .card {
  flex-shrink: 0;
  width: 140px;
}


.container-card {
  background-color: #111;
  border: 2px solid #00ff99;
  border-radius: 12px;
  padding: 20px;
  margin: 30px auto;
  max-width: 90vw !important;
  box-shadow: 0 0 20px rgba(0, 255, 100, 0.3);
}




/* catalogo*/
.promo-boxes {
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 16px; 
  margin: 20px auto;
  flex-wrap: wrap;
  max-width: 900px; 
}


.promo-box {
  flex: 0 0 auto;
  background-color: #0a0a0a;
  border: none;
  border-radius: 12px;
  padding: 12px;
  transition: transform 0.3s ease;
  max-width: 260px; 
  height: 120px;
}


.promo-box:hover {
  transform: scale(1.03);
}

.promo-content {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: white;
}

.promo-icon {
  font-size: 1.5rem;
}

.new-badge {
  background-color: orange;
  color: black;
  font-size: 0.65rem;
  padding: 2px 5px;
  border-radius: 5px;
  margin-left: 4px;
}



/* quiz */


.news-box, .quiz-box {
  flex: 1;
  background-color: #0a0a0a;
  border: 2px solid #00ff99;
  border-radius: 12px;
  padding: 20px;
}

.quiz-button {
  background-color: #00ff99;
  color: #000;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.quiz-button:hover {
  background-color: #00cc88;
}

/*Cards*/
.card-hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-hover:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px #00ff99;
}


/*Novedades */
.noticia-box {
  background-color: #121212;
  border: 2px solid #00ff99;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 255, 153, 0.3);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.noticia-box:hover {
  transform: scale(1.02);
  box-shadow: 0 0 12px rgba(0, 255, 153, 0.5);
}

.noticia-wrapper {
  max-width: 1000px;
  max-height: 100;
  margin: 0 auto;
}




  
