.home-container {
  background-color: white;
  padding: 40px;
  text-align: center;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.scroll-row {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  padding-bottom: 10px;
  scrollbar-width: thin;
  scrollbar-color: #00ff99 transparent;
}

.scroll-row::-webkit-scrollbar {
  height: 8px;
}

.scroll-row::-webkit-scrollbar-thumb {
  background-color: #00ff99;
  border-radius: 4px;
}

.card-scroll {
  min-width: 160px;
  height: 250px;
  flex-shrink: 0;
}

.card-featured {
  width: 300px;
  height: 180px;
}

.featured-grid {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 40px;
}

.section-title {
  color: #00ffcc;
  margin: 20px 0 10px;
  font-size: 1.5rem;
  text-align: left;
}

.container-card {
  background-color: #111;
  border: 2px solid #00ff99;
  border-radius: 12px;
  padding: 20px;
  margin: 30px auto;
  max-width: 1000px;
  box-shadow: 0 0 20px rgba(0, 255, 100, 0.3);
}

.promo-banner {
  display: flex;
  justify-content: space-around;
  background-color: #000;
  padding: 20px;
  border-bottom: 2px solid #00ff99;
  margin-bottom: 30px;
  
}

.promo-item {
  display: flex;
  align-items: center;
}

.promo-button {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: white;
  background-color: #111;
  padding: 10px 15px;
  border-radius: 12px;
  transition: background-color 0.3s ease;
}

.promo-button:hover {
  background-color: #00ff99;
  color: #000;
}

.promo-icon {
  font-size: 2rem;
}

.new-badge {
  background-color: orange;
  color: black;
  font-size: 0.7rem;
  padding: 2px 6px;
  border-radius: 6px;
  margin-left: 6px;
}

.dual-box-row {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-top: 40px;
}

.news-box, .quiz-box {
  flex: 1;
  background-color: #0a0a0a;
  border: 2px solid #00ff99;
  border-radius: 12px;
  padding: 20px;
}

.news-item {
  display: flex;
  gap: 12px;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 16px;
}

.news-item:hover {
  background-color: #111;
}

.news-thumb {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  object-fit: cover;
}

.quiz-button {
  background-color: #00ff99;
  color: #000;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.quiz-button:hover {
  background-color: #00cc88;
}

